
@media (min-device-width:320px) and (max-device-width:768px) {
    .content {
    transform: scale(1.4);
    }
    #bio {
    transform: scale(1.4);
    }
    #plumaje_button
    {
      transform: scale(1.4);
    }
    #gloria_button
    {
      transform: scale(1.4);
    }
    #plumaje
      {
        transform: scale(1.4);
      }
    #gloria
      {
        transform: scale(1.4);
      }
    #contact
      {
        transform: scale(1.4);
      }
  }
  
@media screen and (min-width: 1000px){
  .content {
  max-width: 500px;
  margin: auto;
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  text-align: center;
  }

body {background-color: rgb(251, 251, 251);}
h1 {
  color: rgb(85, 85, 85);
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 3px;
}
h2 {
  font-family: "Montserrat";
}
h3 {
  font-family: "Montserrat";
}
p {
  font-family: "Montserrat";
}


.button {
background-color: transparent;
border: none;
color: rgb(85, 85, 85);
padding: 7px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 19px;
letter-spacing: 2px;
background: 0; outline: 0;
font-family: "Montserrat";
}

[popover] {
background-color: transparent;
color: rgb(85, 85, 85);
border-style: none;
text-align: justify;
padding-left: 500px;
padding-right: 500px;
padding-bottom: 100px;

}

#plumaje {
top: 120px;
line-height: 1.6;
color: rgb(85, 85, 85);
}
#gloria {
top: 120px;
line-height: 1.6;
color: rgb(85, 85, 85);
}
a:link {
color: rgb(85, 85, 85);
font-family: "Montserrat";
}
a:visited {
color: gray;
font-family: "Montserrat";
}

#plumaje_button
{
  padding-top: 0px;
  padding-right: 500px;
  font-size: 17px;
}
#gloria_button
{
  padding-bottom: 120px;
  padding-right: 500px;
  font-size: 17px;
}
#bio{
  line-height: 1.6;
  color: rgb(85, 85, 85);
}
#vimeo
{
border-radius: 5px;
}
#contact
{
font-size: 15px;
color: rgb(85, 85, 85);
}
}


@media screen and (max-width: 1000px) {
  .content {
    font-size: 50px;
    text-align: center;
    position: relative;
  }

body {background-color: rgb(251, 251, 251);}
h1 {
  color: rgb(85, 85, 85);
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 55px;
  letter-spacing: 3px;
}
h2 {
  font-family: "Montserrat";
}
h3 {
  font-family: "Montserrat";
}
p {
  font-family: "Montserrat";
}


.button {
background-color: transparent;
border: none;
color: rgb(85, 85, 85);
padding: 7px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 40px;
letter-spacing: 2px;
background: 0; outline: 0;
font-family: "Montserrat";
}

[popover] {
background-color: transparent;
color: rgb(85, 85, 85);
border-style: none;
text-align: justify;

}

#plumaje {
top: 120px;
line-height: 1.6;
color: rgb(85, 85, 85);
font-size: 30px;
max-width: 450px;
margin-top: 200px;
position: relative;
background-color: rgb(251, 251, 251);
}
#gloria {
top: 120px;
line-height: 1.6;
color: rgb(85, 85, 85);
font-size: 30px;
left: 2%;
max-width: 450px;
margin-top: 200px;
position: relative;
background-color: rgb(251, 251, 251);
}
a:link {
color: lightblue;
font-family: "Montserrat";
}
a:visited {
color: gray;
font-family: "Montserrat";
}

#plumaje_button
{
  font-size: 30px;
  position: relative;
  bottom: 20px;
  right: 40px;
  font-style: italic;
}
#gloria_button
{
  font-size: 30px;
  position: relative;
  bottom: 20px;
  right: 40px;
  font-style: italic;
}
#bio{
  line-height: 1.6;
  color: rgb(85, 85, 85);
  font-size: 30px;
  max-width: 400px;
  margin-top: 300px;
  position: relative;
}
#vimeo
{
border-radius: 5px;
width: 50px;
height: 50px;
}
#instagram
{
width: 50px;
height: 50px;
}
#contact
{
font-size: 30px;
color: rgb(85, 85, 85);
}
}


